<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-8">
      <h3>Milwaukee County Safety Net Clinic</h3>
      <p>Milwaukee County Safety Net Clinic is a project for creating a dynamic and search-enabled mobile website, which can help end users to find affordable clinics in Milwaukee County based on their health requirements, proximity to the clinic and temporal availability.</p>
      <h5>Services Available</h5>
      <% services.sort_by{|k,v| -v.count}.first(45).each do |service, ids| %>
        <a href="/services/<%= service.parameterize %>" class="btn btn-link">
          <%= service %> (<%= ids.count %>)
        </a>
      <% end %>
    </div>
  </div>
</div>